@import url('https://fonts.cdnfonts.com/css/inclusive-sans-2');
* {
  font-family: 'Inclusive Sans', sans-serif;                                                                                          
}